
body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    font-size: 32px;
    background-color: #333333;
}

body[id="Homepage"] {
    display: flex;
}

body[id="creation"] {
    text-align: center;
}

.center-content {
    text-align: center;
    color: #e5f4f4;
}

.center-button {
    padding: 40px 80px;
    margin: auto 10px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;

    border-color: #36b2c3;
    border-radius: 20%;
    border-width: 20px;

    background-color: #e5f4f4;
    color: #333333;

}

h1 {
    color: #e5f4f4;
}

fieldset {
    max-width: 100px;
    margin: auto auto;
    border: 2px solid #36b2c3;
    border-width: 15px;
    border-radius: 20px;
}

input[id="heading"] {
    display: block;
    margin: 20px auto;
    width: 300px;
    text-align: center;
    font-size: 50px;
    background-color: #e5f4f4;
}

textarea[id="about"] {
    display: block;
    width: 600px;
    font-size: 15px;
    height: 80px;
    margin: 20px auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: #e5f4f4;

}

input[id="capacity"], input[id="price"], input[id="city"] {
    display: inline-block;
    margin: 20px 60px;
    width: 80px;
    height: 50px;
}

button[id="submit"] {
    display: block;
    padding: 10px 20px;
    margin: 20px auto;
    font-size: 40px;

    border-color: #36b2c3;
    border-radius: 10px;
    border-width: 10px;

    background-color: #e5f4f4;
    color: #333333;
}

.home-button {
    display: inline;

    text-decoration: none;
    color: #333333;
    background-color: #e5f4f4;

    border: 2px solid #36b2c3;
    border-radius: 10px;
    border-width: 10px;

    padding: 50px auto;
    margin-top: 20px;
}

input[id="find_city"] {
    padding: 10px 10px;
    font-size: 20px;
}

.first-finding {
    max-width: 100px;
    margin: auto auto;
    border: 2px solid #36b2c3;
    border-width: 15px;
    border-radius: 20px;

}

div[id="findings-container"] {
    color: #e5f4f4;
    margin: auto auto;
    padding: auto auto;
}

button[id="prev"], button[id="next"]{
    display: inline;
    background-color: #e5f4f4;
    color: #333333;
    background-color: #333333;
    color: #e5f4f4;
    border: 5px solid #36b2c3;

    padding: 5px 10px;
    margin: auto 20px;
}

.found-event {
    display: block;
    margin: 50px 420px;
    padding: 5px 20px;
    background: 2px solid #36b2c3;
    background-color: #e5f4f4;
    border-color: #36b2c3;
    border-radius: 10px;
    color: #333333;
}

h4[id="pageNum"] {
    display: inline;
    color:#e5f4f4;
    border: 5px solid #36b2c3;
    background-color: #333333;
}

.event-info {
    margin: 40px 200px;
    color: #e5f4f4;
    border: 5px solid #36b2c3;
    padding: auto;

}

button[id="apply-button"] {
    margin-bottom: 50px;
    padding: 20px 40px;
    background-color: #333333;
    color: #e5f4f4;
    border: 3px solid #36b2c3;
    font-size: 30px;
}